# Second stage of preprocessing satellite data

Satellite data needs to be transformed from Matlab format to table (pandas DataFrame). 
- The first step is a combination of variables into DataFrame with arrays in WWLLN column. This is done beforehand.
- The second step is transformation of WWLLN array to 14 WWLLN variables. This stage is described in the notebook.

In [101]:
import numpy as np
import pandas as pd

## Loading data

In [102]:
df_raw = pd.read_parquet("../data/satellite_combined/2018_mult.parquet")

In [103]:
df_raw.head()

,Area,Center_lonlat,Eccentricity,TBBmax,TBBmean,TBBmedian,TBBmin,WWLLNstroke
0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018...."
1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018...."
2,10325.020299,"[43.71957778930664, 37.47930145263672]",0.711196,-32.139996,-34.811359,-34.570004,-39.271999,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 1.0, ..."
3,421.465224,"[44.3833122253418, 36.509220123291016]",0.782772,-32.139996,-32.795002,-32.734005,-33.546001,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018...."
4,558847.545329,"[95.13188934326172, 25.092025756835938]",0.963443,-17.107998,-41.777222,-41.305004,-65.787003,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018...."

## Inspection of WWLLNstroke column

In [104]:
# WWLLNstroke column contains all variables related to WWLLN data in one array. 
# I.e. the first cell contains 84 values: 6 observations with 14 variables each.  
# By seeing repeating "2018" at the beginning one can say that values are oreders the following way: 
# the first variable (year) for all observations, then the second etc.  

df_raw.WWLLNstroke[0]

array([ 2.01800000e+03,  2.01800000e+03,  2.01800000e+03,  2.01800000e+03,
        2.01800000e+03,  2.01800000e+03,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  2.20000000e+01,  2.20000000e+01,
        2.20000000e+01,  2.20000000e+01,  2.20000000e+01,  2.20000000e+01,
        8.00000000e+00,  8.00000000e+00,  1.80000000e+01,  3.50000000e+01,
        3.50000000e+01,  4.50000000e+01,  5.89646850e+01,  5.89647030e+01,
        7.93586800e+00,  2.63977620e+01,  2.63977480e+01,  2.08316870e+01,
        3.99575000e+01,  3.99895000e+01,  3.99889000e+01,  3.95425000e+01,
        3.94982000e+01,  3.99876000e+01,  4.50796000e+01,  4.51212000e+01,
        4.51107000e+01,  4.62827000e+01,  4.62967000e+01,  4.54106000e+01,
        1.67000000e+01,  1.45000000e+01,  9.40000000e+00,  7.10000000e+00,
        4.60000000e+00,  1.49000000e+01,  8.00000000e+00,  9.00000000e+00,
        6.00000000e+00,  9.00000000e+00,  5.00000000e+00,  6.00000000e+00,
        7.37061923e+05,  7.37061923e+05,  7.37061929e+05,  7.37061941e+05,
        7.37061941e+05,  7.37061948e+05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00, -3.39549980e+01, -3.27340050e+01,
       -3.27340050e+01, -3.49849968e+01, -3.29360008e+01, -3.21399956e+01])

In [105]:
# Take sample WWLLNstroke cell value
sample_ww = df_raw.WWLLNstroke[0]

In [106]:
# Calculate number of lightning observations
number_of_lightning_observations = int(len(df_raw.WWLLNstroke[0])/14)

In [107]:
# Reshape an array to create future rows and columns
sample_ww_reshaped = sample_ww.reshape(-1, number_of_lightning_observations)
sample_ww_reshaped

array([[ 2.01800000e+03,  2.01800000e+03,  2.01800000e+03,
         2.01800000e+03,  2.01800000e+03,  2.01800000e+03],
       [ 1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [ 1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [ 2.20000000e+01,  2.20000000e+01,  2.20000000e+01,
         2.20000000e+01,  2.20000000e+01,  2.20000000e+01],
       [ 8.00000000e+00,  8.00000000e+00,  1.80000000e+01,
         3.50000000e+01,  3.50000000e+01,  4.50000000e+01],
       [ 5.89646850e+01,  5.89647030e+01,  7.93586800e+00,
         2.63977620e+01,  2.63977480e+01,  2.08316870e+01],
       [ 3.99575000e+01,  3.99895000e+01,  3.99889000e+01,
         3.95425000e+01,  3.94982000e+01,  3.99876000e+01],
       [ 4.50796000e+01,  4.51212000e+01,  4.51107000e+01,
         4.62827000e+01,  4.62967000e+01,  4.54106000e+01],
       [ 1.67000000e+01,  1.45000000e+01,  9.40000000e+00,
         7.10000000e+00,  4.60000000e+00,  1.49000000e+01],
       [ 8.00000000e+00,  9.00000000e+00,  6.00000000e+00,
         9.00000000e+00,  5.00000000e+00,  6.00000000e+00],
       [ 7.37061923e+05,  7.37061923e+05,  7.37061929e+05,
         7.37061941e+05,  7.37061941e+05,  7.37061948e+05],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [-3.39549980e+01, -3.27340050e+01, -3.27340050e+01,
        -3.49849968e+01, -3.29360008e+01, -3.21399956e+01]])

In [108]:
# Create a dataframe out of it
sample_ww_df = pd.DataFrame(sample_ww_reshaped).T
sample_ww_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2018.0,1.0,1.0,22.0,8.0,58.964685,39.9575,45.0796,16.7,8.0,737061.922905,0.0,1.0,-33.954998
1,2018.0,1.0,1.0,22.0,8.0,58.964703,39.9895,45.1212,14.5,9.0,737061.922905,0.0,1.0,-32.734005
2,2018.0,1.0,1.0,22.0,18.0,7.935868,39.9889,45.1107,9.4,6.0,737061.929259,0.0,1.0,-32.734005
3,2018.0,1.0,1.0,22.0,35.0,26.397762,39.5425,46.2827,7.1,9.0,737061.941278,0.0,1.0,-34.984997
4,2018.0,1.0,1.0,22.0,35.0,26.397748,39.4982,46.2967,4.6,5.0,737061.941278,0.0,1.0,-32.936001

In [109]:
# Give names to WWLLN variables
sample_ww_df.columns = ["year", "month", "day", "hour", "minute", "second", "latitude", "longitude", 
                        "time_error", "strikes_number", "local_date", "is_in_raw_cloud", "is_in_ellipse_cloud", "TBB_value"]
sample_ww_df.head()

,year,month,day,hour,minute,second,latitude,longitude,time_error,strikes_number,local_date,is_in_raw_cloud,is_in_ellipse_cloud,TBB_value
0,2018.0,1.0,1.0,22.0,8.0,58.964685,39.9575,45.0796,16.7,8.0,737061.922905,0.0,1.0,-33.954998
1,2018.0,1.0,1.0,22.0,8.0,58.964703,39.9895,45.1212,14.5,9.0,737061.922905,0.0,1.0,-32.734005
2,2018.0,1.0,1.0,22.0,18.0,7.935868,39.9889,45.1107,9.4,6.0,737061.929259,0.0,1.0,-32.734005
3,2018.0,1.0,1.0,22.0,35.0,26.397762,39.5425,46.2827,7.1,9.0,737061.941278,0.0,1.0,-34.984997
4,2018.0,1.0,1.0,22.0,35.0,26.397748,39.4982,46.2967,4.6,5.0,737061.941278,0.0,1.0,-32.936001

## Transformation of all cells

In [110]:
# Create a function with all steps from above
wwlln_colnames = ["year", "month", "day", "hour", "minute", "second", "latitude", "longitude", 
                        "time_error", "strikes_number", "local_date", "is_in_raw_cloud", "is_in_ellipse_cloud", "TBB_value"]

def transform_wwlln(wwlln_array: np.array) -> pd.DataFrame:
    number_of_lightning_observations = int(len(wwlln_array)/14)
    wwlln_array_reshaped = wwlln_array.reshape(-1, number_of_lightning_observations)
    wwlln_df = pd.DataFrame(wwlln_array_reshaped).T
    wwlln_df.columns = wwlln_colnames
    return wwlln_df

In [111]:
## Apply the function to original column and create new one
df_raw["wwlln_df"] = df_raw.WWLLNstroke.apply(transform_wwlln)

In [112]:
## Now we have pandas DataFrames nested in pandas DataFrame.
df_raw.head()

,Area,Center_lonlat,Eccentricity,TBBmax,TBBmean,TBBmedian,TBBmin,WWLLNstroke,wwlln_df
0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018....",year month day hour minute second...
1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018....",year month day hour minute second...
2,10325.020299,"[43.71957778930664, 37.47930145263672]",0.711196,-32.139996,-34.811359,-34.570004,-39.271999,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 1.0, ...",year month day hour minute second...
3,421.465224,"[44.3833122253418, 36.509220123291016]",0.782772,-32.139996,-32.795002,-32.734005,-33.546001,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018....",year month day hour minute second...
4,558847.545329,"[95.13188934326172, 25.092025756835938]",0.963443,-17.107998,-41.777222,-41.305004,-65.787003,"[2018.0, 2018.0, 2018.0, 2018.0, 2018.0, 2018....",year month day hour minute seco...

In [113]:
#  Extract information from nested field
df_wwlln_with_index = pd.concat(df_raw['wwlln_df'].tolist(), keys=df_raw.index)

In [114]:
# Merge it back by index. Number of rows increased. Now every lightning observation is in separate row.
df_merged = pd.merge(df_raw[df_raw.columns[:7]], df_wwlln_with_index, left_index=True, right_on=df_wwlln_with_index.index.get_level_values(0))
df_merged.head(10)

     key_0           Area                            Center_lonlat  \
0 0      0  882511.946701  [52.062217712402344, 42.61566162109375]
  1      0  882511.946701  [52.062217712402344, 42.61566162109375]
  2      0  882511.946701  [52.062217712402344, 42.61566162109375]
  3      0  882511.946701  [52.062217712402344, 42.61566162109375]
  4      0  882511.946701  [52.062217712402344, 42.61566162109375]
  5      0  882511.946701  [52.062217712402344, 42.61566162109375]
1 0      1   16417.808512  [18.64419937133789, 42.513587951660156]
  1      1   16417.808512  [18.64419937133789, 42.513587951660156]
  2      1   16417.808512  [18.64419937133789, 42.513587951660156]
  3      1   16417.808512  [18.64419937133789, 42.513587951660156]

     Eccentricity     TBBmax    TBBmean  TBBmedian     TBBmin    year  month  \
0 0      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
  1      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
  2      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
  3      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
  4      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
  5      0.866593 -20.260998 -41.362003 -41.305004 -54.876003  2018.0    1.0
1 0      0.760254 -32.139996 -34.372059 -34.367001 -37.311001  2018.0    1.0
  1      0.760254 -32.139996 -34.372059 -34.367001 -37.311001  2018.0    1.0
  2      0.760254 -32.139996 -34.372059 -34.367001 -37.311001  2018.0    1.0
  3      0.760254 -32.139996 -34.372059 -34.367001 -37.311001  2018.0    1.0

     ...  minute     second  latitude  longitude  time_error  strikes_number  \
0 0  ...     8.0  58.964685   39.9575    45.0796        16.7             8.0
  1  ...     8.0  58.964703   39.9895    45.1212        14.5             9.0
  2  ...    18.0   7.935868   39.9889    45.1107         9.4             6.0
  3  ...    35.0  26.397762   39.5425    46.2827         7.1             9.0
  4  ...    35.0  26.397748   39.4982    46.2967         4.6             5.0
  5  ...    45.0  20.831687   39.9876    45.4106        14.9             6.0
1 0  ...    36.0   1.258030   41.9936    19.1819        10.4             8.0
  1  ...    48.0  28.756891   42.3209    18.4370         9.8            11.0
  2  ...    50.0  36.138266   42.4062    18.4864        15.8            14.0
  3  ...    50.0  36.138239   42.2994    18.5100        10.5             6.0

        local_date  is_in_raw_cloud  is_in_ellipse_cloud  TBB_value
0 0  737061.922905              0.0                  1.0 -33.954998
  1  737061.922905              0.0                  1.0 -32.734005
  2  737061.929259              0.0                  1.0 -32.734005
  3  737061.941278              0.0                  1.0 -34.984997
  4  737061.941278              0.0                  1.0 -32.936001
  5  737061.948158              0.0                  1.0 -32.139996
1 0  737061.941681              0.0                  1.0 -32.536999
  1  737061.950333              1.0                  1.0 -36.036007
  2  737061.951807              1.0                  1.0 -36.036007
  3  737061.951807              1.0                  1.0 -36.036007

[10 rows x 22 columns]

In [121]:
# Remove extra indices
df_processed = df_merged.rename(columns={"key_0": "cloud_id"}).reset_index(level=0, drop=True)
df_processed.head(10)

,cloud_id,Area,Center_lonlat,Eccentricity,TBBmax,TBBmean,TBBmedian,TBBmin,year,month,...,minute,second,latitude,longitude,time_error,strikes_number,local_date,is_in_raw_cloud,is_in_ellipse_cloud,TBB_value
0,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,8.0,58.964685,39.9575,45.0796,16.7,8.0,737061.922905,0.0,1.0,-33.954998
1,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,8.0,58.964703,39.9895,45.1212,14.5,9.0,737061.922905,0.0,1.0,-32.734005
2,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,18.0,7.935868,39.9889,45.1107,9.4,6.0,737061.929259,0.0,1.0,-32.734005
3,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,35.0,26.397762,39.5425,46.2827,7.1,9.0,737061.941278,0.0,1.0,-34.984997
4,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,35.0,26.397748,39.4982,46.2967,4.6,5.0,737061.941278,0.0,1.0,-32.936001
5,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,2018.0,1.0,...,45.0,20.831687,39.9876,45.4106,14.9,6.0,737061.948158,0.0,1.0,-32.139996
0,1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,2018.0,1.0,...,36.0,1.258030,41.9936,19.1819,10.4,8.0,737061.941681,0.0,1.0,-32.536999
1,1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,2018.0,1.0,...,48.0,28.756891,42.3209,18.4370,9.8,11.0,737061.950333,1.0,1.0,-36.036007
2,1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,2018.0,1.0,...,50.0,36.138266,42.4062,18.4864,15.8,14.0,737061.951807,1.0,1.0,-36.036007
3,1,16417.808512,"[18.64419937133789, 42.513587951660156]",0.760254,-32.139996,-34.372059,-34.367001,-37.311001,2018.0,1.0,...,50.0,36.138239,42.2994,18.5100,10.5,6.0,737061.951807,1.0,1.0,-36.036007

## Combination of datetime variables

In [122]:
# Create lightning timestamp instead of 6 time variables
df_processed["lightning_timestamp"] = pd.to_datetime(df_processed[["year", "month", "day", "hour", "minute", "second"]])
df_processed = df_processed.drop(columns=["year", "month", "day", "hour", "minute", "second"])
df_processed.head()

,cloud_id,Area,Center_lonlat,Eccentricity,TBBmax,TBBmean,TBBmedian,TBBmin,latitude,longitude,time_error,strikes_number,local_date,is_in_raw_cloud,is_in_ellipse_cloud,TBB_value,lightning_timestamp
0,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,39.9575,45.0796,16.7,8.0,737061.922905,0.0,1.0,-33.954998,2018-01-01 22:08:58.964685
1,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,39.9895,45.1212,14.5,9.0,737061.922905,0.0,1.0,-32.734005,2018-01-01 22:08:58.964703
2,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,39.9889,45.1107,9.4,6.0,737061.929259,0.0,1.0,-32.734005,2018-01-01 22:18:07.935868
3,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,39.5425,46.2827,7.1,9.0,737061.941278,0.0,1.0,-34.984997,2018-01-01 22:35:26.397762
4,0,882511.946701,"[52.062217712402344, 42.61566162109375]",0.866593,-20.260998,-41.362003,-41.305004,-54.876003,39.4982,46.2967,4.6,5.0,737061.941278,0.0,1.0,-32.936001,2018-01-01 22:35:26.397748

## Examples of usage

Preprocessed dataframe allows to get information on both lightning level and cloud level. 
- Lightning id is lightning timestamp
- Cloud id is its index in raw dataframe

See examples below.

In [123]:
# Lightnings with highest number of strikes
df_processed[df_processed.strikes_number==max(df_processed.strikes_number)][["lightning_timestamp", "strikes_number"]]

           lightning_timestamp  strikes_number
263 2018-01-01 05:15:24.223331            21.0
235 2018-01-01 05:52:20.065995            21.0
381 2018-01-01 05:27:05.935802            21.0
45  2018-01-01 07:04:29.559107            21.0

In [125]:
# Top-5 clouds by number of lightnings inside approximation ellipse
(
    df_processed.groupby("cloud_id")
    .sum(numeric_only=True)["is_in_ellipse_cloud"]
    .sort_values(ascending=False)
    .rename("number_of_lightnings")
    .reset_index()
    .head()
)

   cloud_id  number_of_lightnings
0      1306                6166.0
1      1405                5693.0
2      1197                4773.0
3       910                4610.0
4       998                4502.0